<div>
  <div class="container">

    <!--  Best Food Dishes  -->
    <div class="row">
      <div class="col-md-12 border">
        <h2>Best Food Dishes</h2>
      </div>
    </div>
    <!--  Ends - Best Food Dishes  -->

    <div>

      <!--  Row #1 - Lizs Bistro Salad Square  -->
      <div class="row">

        <div class="col-md-3 border">
          <div class="img-fluid img-thumbnail text-center m-3">
            <img class="w-100" src="assets/static/images/Lizs-Bistro-Salad-Square-800x800.png" alt="">
          </div>
        </div>

        <div class="col-md-9 border">
          <div class="row">
            <div class="col-md-6">1st March 2K23</div>
          </div>
          <div class="row">
            <div class="col-md-6">Liz’s Bistro Salad</div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span>
                Crunchy, light, bright, and ultra-fresh. This French-inspired bistro salad is an
              absolute star as a side for nearly any dinner. Tender greens, fresh herbs, pickled onions,
              and a delicate vinaigrette on top.
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">Continue Reading...</div>
          </div>
        </div>

      </div>
      <!--  Ends - Row #1 - Lizs Bistro Salad Square  -->


      <!--  Row #2 - House Favorite Brussels Sprouts  -->
      <div class="row">

        <div class="col-md-3 border">
          <div class="img-fluid img-thumbnail text-center m-3">
            <img class="w-100" src="assets/static/images/House-Favorite-Brussels-Sprouts-3-800x800.jpg" alt="">
          </div>
        </div>

        <div class="col-md-9 border">
          <div class="row">
            <div class="col-md-6">8th March 2K23</div>
          </div>
          <div class="row">
            <div class="col-md-6">House Favorite Brussels Sprouts</div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span>
                These House Favorite Brussels Sprouts are the best side veg and are speckled with bright
                bursts of cranberries and nutty walnuts. The perfect addition to any meal!
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">Continue Reading...</div>
          </div>
        </div>

      </div>
      <!--  Ends - Row #2 - House Favorite Brussels Sprouts  -->

      <!--  Row #3 - Vegetarian Lasagna  -->
      <div class="row">

        <div class="col-md-3 border">
          <div class="img-fluid img-thumbnail text-center m-3">
            <img class="w-100" src="assets/static/images/Vegetarian-Lasagna-1-183x183.jpg" alt="">
          </div>
        </div>

        <div class="col-md-9 border">
          <div class="row">
            <div class="col-md-6">15th March 2K23</div>
          </div>
          <div class="row">
            <div class="col-md-6">Vegetarian Lasagna</div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span>
                The very best Vegetarian Lasagna! Walnuts, zucchini, carrots, onions, and mushrooms
                blitzed up into a meat-like texture that gets layered with lots of cheese and sauce. Cozy + nourishing!
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">Continue Reading...</div>
          </div>
        </div>

      </div>
      <!--  Ends - Row #3 - Vegetarian Lasagna  -->

      <!--  Row #1 - Lizs Bistro Salad Square  -->
      <div class="row">

        <div class="col-md-3 border">
          <div class="img-fluid img-thumbnail text-center m-3">
            <img class="w-100" src="assets/static/images/Ginger-Peanut-Chicken-1-800x800.jpg" alt="">
          </div>
        </div>

        <div class="col-md-9 border">
          <div class="row">
            <div class="col-md-6">22nd March 2K23</div>
          </div>
          <div class="row">
            <div class="col-md-6">Ginger Peanut Chicken</div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span>
                Juicy, quick-marinated, Ginger Peanut Chicken on a bed of THE MOST LUSH coconut jasmine rice,
                with speckles of crunchy peanuts, bright fresh cilantro, and lime squeezes.
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">Continue Reading...</div>
          </div>
        </div>

      </div>
      <!--  Ends - Row #1 - Lizs Bistro Salad Square  -->

    </div>

  </div>
</div>
