<div>

  <div class="container">

    <!--  Row #1 - Simple Recipe Text Headline  -->
    <div class="row justify-content-center">
      <div class="col-md-6 border d-flex justify-content-end">
        <h2>SIMPLE RECIPES MADE FOR</h2>
      </div>
      <div class="col-md-6 border">
        <h2>real, actual, everyday life.</h2>
      </div>
    </div>
    <!--  Ends - Row #1 - Simple Recipe Text Headline  -->

    <!--  Row #2 - 4 Food Images  -->
    <div class="row">

      <!--  Food Image 1  -->
      <div class="col-md-3 p-3">
        <div class="img-fluid img-thumbnail text-center">
          <img class="w-100" src="assets/static/images/Vegan-Crunchwraps-with-Cashew-Queso-800x800.jpg" alt="">
          <h4 class="text-center m-2 text-danger">Vegan Crunchwraps</h4>
        </div>
      </div>

      <!--  Food Image 2  -->
      <div class="col-md-3 p-3">
        <div class="img-fluid img-thumbnail text-center">
          <img class="w-100" src="assets/static/images/Chocolate-Chip-Cookies-800x800.jpg" alt="">
          <h4 class="text-center m-2 text-danger">Chocolate Chip Cookies</h4>
        </div>
      </div>

      <!--  Food Image 3  -->
      <div class="col-md-3 p-3">
        <div class="img-fluid img-thumbnail text-center">
          <img class="w-100" src="assets/static/images/salmon-burgers-on-a-plate-800x800.jpg" alt="">
          <h4 class="text-center m-2 text-danger">Salmon Burgers On A Plate</h4>
        </div>
      </div>

      <!--  Food Image 4  -->
      <div class="col-md-3 p-3">
        <div class="img-fluid img-thumbnail text-center">
          <img class="w-100" src="assets/static/images/Meal-Prep-Pasta-with-Cauliflower-183x183.jpg" alt="">
          <h4 class="text-center m-2 text-danger">Meal Prep Pasta with Cauliflower</h4>
        </div>
      </div>

    </div>
    <!--  Ends - Row #2 - 4 Food Images  -->

    <hr>
    <br>

  </div>


</div>
